@import url("../fonts/carbon/carbon.css");
@import url("../fonts/general-sans/general-sans.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
}

h1 {
  @apply font-semibold text-2xl sm:text-4xl;
}

h2 {
  @apply text-xl sm:text-3xl mb-2;
}

h3 {
  @apply text-lg sm:text-2xl;
}

h4 {
  @apply text-lg sm:text-2xl;
}

h5 {
  @apply uppercase font-semibold text-lg sm:text-xl;
}

h6 {
  @apply text-base sm:text-lg;
}

p {
  @apply !text-neutral-600 !leading-relaxed;
}

@keyframes underline-grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Apply animation to the underline */
.underline-grow {
  .white {
    background-color: white;
  }
  .black {
    background-color: black;
  }
  .primary {
    @apply bg-blue-500;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    background-color: white;
    height: 1px; /* You can adjust the thickness of the underline */
    transition: width 0.3s ease; /* Smooth transition for width change */
  }
}

/* Trigger animation on hover */
.underline-grow:hover::after {
  width: 100%;
}
